
	<!-- ================ start banner area ================= -->	
  <section class="blog-banner-area" id="blog">
    <div class="container h-100">
      <div class="blog-banner">
        <div class="text-center">
          <h1>Thông tin khách hàng</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Đăng ký</a></li>
        
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--================Login Box Area =================-->
	<section class="login_box_area section-margin">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>Bạn đã có tài khoản?</h4>
							<p>Đừng chần chờ thêm nữa hãy đăng nhập ngay để chúng tôi có thể phục vụ quý khách</p>
							<a class="button button-account" href="/users/login">Đăng nhập ngay</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner register_form_inner">
						<h3>Tạo tài khoản</h3>
						<form class="row login_form" action="/users/register" id="register_form" method="POST" >
							{{#if message}}
							<div class="col-md-12 form-group alert {{type}}">
								<strong>{{message}}</strong>
							</div>
							{{/if}}
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="fullname" name="fullname" placeholder="Họ và tên" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Họ và tên'">
							</div>
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="username" name="username" placeholder="Địa chỉ Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Địa chỉ Email'">
              </div>
              <div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mật khẩu'">
              </div>
              <div class="col-md-12 form-group">
								<input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Xác nhận mật khẩu" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Xác nhận mật khẩu'">
							</div>
							<div class="col-md-12 form-group">
								<div class="creat_account">
									<input type="checkbox" id="KeepLoggedIn" name="KeepLoggedIn">
									<label for="KeepLoggedIn">Duy trì trạng thái đăng nhập</label>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-register w-100">Đăng ký</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->



  